body{
	font-family: cursive;

}
nav{
	width: 100%; height: 15vh;
	background: rgba(0, 0, 0, 0.4);
	color: white; display: flex; justify-content: space-between;
	align-items: center; text-transform: uppercase;
}

nav  .logo{
	width: 25%; text-align: center;
    
}

nav  .menu{
	width: 40%;
	display: flex; justify-content: space-around;
}

nav  .menu a {
	width: 25%;
	text-decoration: none; color: white;
	font-weight: bold;
}
nav  .menu a:first-child{
	color: #00b894;
}


h1{
	text-align: center;
	color: white;
	margin: 30px 0 50px;
}
.gallery{
	margin: 10px 50px;
}
.gallery img{
	width: 230px;
	padding: 5px;
	filter: grayscale(75%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}