.gallery img::before,
.gallery img::after{
	content: "";
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(
		-45deg,
	     #00ff66,
	     #00ffff,
	     #ff00ff,
	     #ff0099,
	     #099fff);
	background-size: 400%;
	height: calc(100% + 5px);
	width: calc(100% + 5px);
	z-index: -1;
	animation: change 40s linear infinite;
}